.title {
      text-align: center;
      color: brown;
}

.about {
      width: 80%;

      padding: 70px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      margin-left: 180px;
}

/*responsive*/
@media only screen and (max-width:576px) {
      .about {
            width: 80%;
            margin-left: 40px;
      }
}

@media only screen and (min-width:577px)and (max-width:992px) {
      .about {
            width: 80%;
            margin-left: 70px;
      }
}